.explication{
  text-align: center;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 120%;
  color:white;
  margin: 0 auto;
  width: 80%;
  max-width: 80%;
}
div {
  display: flex;
  justify-content: center;
}
.imageentreprise{
  width: 70vh;
}
