<div class="info-grid">
  <section class="info-card">
    <h3>Informations complémentaires</h3>
    <p class="info-permit">{{ permit }}</p>
    <h4>Mes hobbies</h4>
    <ul class="hobby-list">
      <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
    </ul>
  </section>

  <section class="info-card">
    <h3>Me retrouver en ligne</h3>
    <div class="link-grid">
      <a
        class="link-card"
        *ngFor="let link of links"
        [href]="link.href"
        [attr.target]="link.external ? '_blank' : null"
        [attr.rel]="link.external ? 'noopener' : null"
      >
        <span class="link-icon" aria-hidden="true">{{ link.icon }}</span>
        <span>{{ link.label }}</span>
      </a>
    </div>
  </section>
</div>
