.explication{
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 120%;
  color:white;
  width: 80%;
  max-width: 80%;
  margin: auto;
  display:inline-block;
  margin-left:20%;
}

button{
  margin-top: 10px;
  margin-left: 10px;

  display:inline-block;
}
.boutonlinkedin{
  display: flex;
  background: linear-gradient(to bottom, #0A66C2, #003c7c);

  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
}

.boutonlinkedin svg {
  height: 30px;
}
img{
  max-width: 20px;
  height: auto;
  display: block;

}
.boutonlinkedin:hover {
  box-shadow: none;
}

.boutonGitHub{
  display: flex;
  background: linear-gradient(to bottom, #22252A, #0D0D0D);
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
  height: 45px;
  width: 150px;
}

.boutonGitHub svg {
  height: 30px;
}

.boutonGitHub:hover {
  box-shadow: none;
}
.boutontelephone{
  display: flex;
  background: linear-gradient(to bottom, #2d73e4, #0a1d4e);
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
  height: 45px;
}

.boutontelephone svg {
  height: 30px;
}

.boutontelephone:hover {
  box-shadow: none;
}

.boutonmail{
  display: flex;
  background: linear-gradient(to bottom left, #ff0000, #500000);
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
  height: 45px;
}

.boutonmail svg {
  height: 30px;
}

.boutonmail:hover {
  box-shadow: none;
}
.boutonMakerworld{
  display: flex;
  background: linear-gradient(to bottom, #6afd2e, #004313);
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
  height: 45px;
}

.boutonMakerworld svg {
  height: 30px;
}

.boutonMakerworld:hover {
  box-shadow: none;
}

.titrebouton{
  display: flex; /* Utilise Flexbox pour aligner les éléments côte à côte */
  width: 50%;
  margin: auto;
}
