<body>
<mat-toolbar>
  <a href="https://www.linkedin.com/in/guillaume-lechevallier/">
  <img src="https://i.ibb.co/FKfDD6H/photo-cv.png" alt="photo de guillaume" class="photolinkedin"></a>
  <p class="titre">Lechevallier Guillaume</p>

  <mat-icon aria-hiden="false" color="white">build</mat-icon>
  <p class="siteencoursdedev">Site en cours de développement</p>

<div class="telechargercv"><a _ngcontent-ytf-c41="" mat-icon-button="" mattooltip="Télécharger mon cv !" href="https://drive.google.com/uc?export=download&id=1y_8AR8-CU54g7YR9j3oapnYWLEaAxga3" class="mat-focus-indicator mat-tooltip-trigger mat-icon-button mat-button-base" aria-disabled="false" aria-describedby="cdk-describedby-message-1" cdk-describedby-host="0"><span class="mat-button-wrapper"><mat-icon _ngcontent-ytf-c41="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">download</mat-icon></span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span></a></div></mat-toolbar>

<mat-tab-group>
  <mat-tab label="À propos de moi" class="titre"><app-apropodemoi></app-apropodemoi></mat-tab>
  <mat-tab label="Experience Professionelle"> <app-experiencepro></app-experiencepro> </mat-tab>
  <mat-tab label="Formation scolaire"> <app-formationscolaire></app-formationscolaire> </mat-tab>
  <mat-tab label="Compétences"> <app-competence></app-competence> </mat-tab>
  <mat-tab label="Réalisation"> <app-projetspersonnel></app-projetspersonnel> </mat-tab>
  <mat-tab label="Information complémentaire et liens"> <app-infocomplementaire></app-infocomplementaire> </mat-tab>
  <mat-tab label="Contactez moi !"> <app-contactezmoi></app-contactezmoi> </mat-tab>
</mat-tab-group>
<mat-toolbar>

</mat-toolbar>

</body>
