.explication{
  text-align: center;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 120%;
  color:white;
  margin: 0 auto;
  width: 80%;
  max-width: 80%;
}
.formulairecontact{
  text-align: center;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 120%;
  color:white;
  margin: 0 auto;
  width: 10%;
  max-width: 80%;
}
.commentaire{
  width: 300%;
  text-align: center;

}
button {
  text-align: center;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 80%;
  margin-right: 0%;
  width: 80%;
  max-width: 80%;
}
.boutonenvoyertexte{
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 100%;
  color: #4c4c4c;
}
button:active{

}
